---
import Layout from '../../../layouts/Layout.astro';
import Portada from '@/components/Portada.astro';
import { getArticleContent, articlesViajes } from 'configFireBase';

export const getStaticPaths = () => {
  return articlesViajes.slice(1).map((article) => ({
    params: { id: article.cleanTitle },
  }));
};

const {id } = Astro.params;
const articleContent = await getArticleContent(id,'viajes');

// Usar una expresión regular non-greedy para capturar el contenido del div incluyendo el div mismo
const match = articleContent.match(/(<div class='p-10 pb-16 flex flex-col gap-5 bg-gray-800 rounded-lg relative'>[\s\S]*?<\/div>)/);
const newArticleContent = match ? match[0] : 'Artículo no disponible, perdona las molestias. Ponte en contacto con - para reportar el error.';

// Depuración
console.log('Match found:', newArticleContent);
---

<Layout title={id.slice(11).replaceAll('-',' ')}>
  <div class="px-0 py-0 lg:px-60 py-[4.5rem]">
      <div set:html={newArticleContent}></div>
  </div>
  <div class="justify-center flex-col flex px-[13%] text-white gap-2">
    <h1 class="text-2xl"><strong>TE PUEDE INTERESAR...</strong></h1>
    <div class="py-5 flex flex-wrap-reverse gap-3">
      {articlesViajes.map((article, index) => (
        <Portada
          key={index}
          title={article.title}
          image={article.image}
          cleanTitle={article.cleanTitle}
          category={article.category}
          phrase={article.phrase}
          newCategory={article.newCategory}
        />
      ))}
    </div>
  </div> 
</Layout>
