---
import Portada from '@/components/Portada.astro';
import Article from '@/components/Article.astro';
import { getArticleImage, getArticleTitle,getArticleFirstPhrase,titlesDeportes,titlesEducacion,titlesEntretenimiento,titlesFinanzas,titlesGaming,titlesModa,titlesMotor,titlesNutricion,titlesPolitica,titlesSalud,titlesTecnologia,titlesViajes } from '../../configFireBase';
import Layout from '../layouts/Layout.astro';

interface ImageMap {
  [key: string]: string;
}

interface TitleMap {
  [key: string]: string;
}
interface Title2Map {
  [key: string]: string;
}

const images: ImageMap = {};
const articleTitles: TitleMap = {}; // Initialize as an object
const articleFirst: Title2Map = {}; // Initialize as an object
let i = 0;

for (const title of titlesDeportes.slice(1)) {
  try {
    console.log(title)
    images[title] = await getArticleImage(title,'deportes');
    articleTitles[title] = await getArticleTitle(title,'deportes');
    //articleFirst[title] = await getArticleFirstPhrase(title,'deportes');
  } catch (error) {
    console.error(`Error fetching image for ${title}:`, error);
    images[title] = 'hola.png'; // Asegúrate de tener una imagen por defecto
  }
  i++;
}
---

<Layout title="Blog">
  <div class="justify-center flex-col flex p-12 px-[25rem] text-white gap-2">
    <h1 class="text-2xl"><strong>LO ÚLTIMO</strong></h1>
    
    <div class="flex flex-wrap gap-5 mt-10 md:justify-start justify-center">
      {titlesDeportes.slice(1).map((title, index) => (
        <Portada key={index} title={articleTitles[title]} image={images[title]} cleanTitle={title} category="deportes" phrase={articleFirst[title]}></Portada>
        <Portada key={index} title={articleTitles[title]} image={images[title]} cleanTitle={title} category="deportes" phrase={articleFirst[title]}></Portada>
        <Portada key={index} title={articleTitles[title]} image={images[title]} cleanTitle={title} category="deportes" phrase={articleFirst[title]}></Portada>
      ))}   
    </div>
    <div>
      {titlesDeportes.slice(1).map((title, index) => (
        <Article key={index} title={articleTitles[title]} image={images[title]} cleanTitle={title} category="deportes" phrase={articleFirst[title]}></Article>
        <Article key={index} title={articleTitles[title]} image={images[title]} cleanTitle={title} category="deportes" phrase={articleFirst[title]}></Article>
        <Article key={index} title={articleTitles[title]} image={images[title]} cleanTitle={title} category="deportes" phrase={articleFirst[title]}></Article>
        ))} 
    </div>
  </div>
</Layout>
