---
import Portada from '@/components/Portada.astro';
import NewArticle from '@/components/NewArticle.astro';
import { articlesModa } from '../../../../configFireBase';
import Layout from '../../../layouts/Layout.astro';
---
<Layout title="Blog">
  <div class="justify-center flex-col flex p-12 px-[15%] text-white gap-2">
    <h1 class="text-2xl"><strong>DEPORTES</strong></h1>

        <div class="py-5 flex flex-wrap-reverse">
          {articlesModa.map((article, index) => (
            <NewArticle
              key={index}
              title={article.title}
              image={article.image}
              cleanTitle={article.cleanTitle}
              category={article.category}
              phrase={article.phrase}
              newCategory={article.newCategory}
            />
          ))}
    </div>
  </div>
</Layout>
